
/******** Galeria de imagenes **********/
*{
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
    background: linear-gradient(to right, #0575E6, #00F260); 

}

.contenido{
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 26px;
}

img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
    transform: rotate(-1.2deg) scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}


@media (max-width: 768px){

    img{
        width: 280px;
        height: 230px;
        object-fit: cover;
        object-position: center;
        padding: 16px;
    }

}

@media (max-width: 590px){

    img{
        width: 220px;
        height: 180px;
        object-fit: cover;
        object-position: center;
        padding: 16px;
    }

}



@media (max-width: 479px){

    img{
        width: 150px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        padding: 16px;
    }

}